
*.tlog
WeirdSolutions.sln
WeirdSolutions.vcxproj
WeirdSolutions.vcxproj.filters
WeirdSolutions.vcxproj.user
.vs/WeirdSolutions/v16/ipch/AutoPCH/9422850dadbb14f8/MAIN.ipch
.vs/WeirdSolutions/v16/ipch/AutoPCH/5eebeef336fb01be/MAIN.ipch
.vs/WeirdSolutions/v16/Browse.VC.opendb
.vs/WeirdSolutions/v16/Browse.VC.db-wal
.vs/WeirdSolutions/v16/Browse.VC.db-shm
.vs/WeirdSolutions/v16/Browse.VC.db
.vs/WeirdSolutions/v16/.suo
Debug/WeirdSolutions.vcxproj.FileListAbsolute.txt
Debug/WeirdSolutions.pdb
Debug/WeirdSolutions.log
Debug/WeirdSolutions.ilk
Debug/vc142.pdb
Debug/vc142.idb
*.obj
*.ipch
*.obj
*.enc
*.obj
*.obj
Debug/Main.obj
*.obj
